body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-family: "Arial Black";
}

#alien-planet-image {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -1;
}

header {
    display: block;
    position: relative;
    background-image: url('images/headerImage.jpg');
    background-color: black;
    color: white;
    overflow: hidden;
    padding: 6em 5em;
    text-align: center;
    z-index: 1;
}

section {
    display: block;
    padding: 0.1em;
    text-align: center;
    background-image: linear-gradient(#080633, black, #080633);
}

article {
    display: flex;
    align-items: center;
    margin: auto;
    border: 0.5em dashed #177E89;
    padding: 2em;
    background-image: linear-gradient(#080633, black, #080633);
}

#introduction-image {
    height: 40%;
    width: 40%;
}

article p {
    padding-left: 35px;
}

.features::before {
    background-image: linear-gradient(black, #084C61, #084C61, #084C61, black);
}

.features {
    display: table;
    background-image: url('images/spaceImage.jpg');
    clear: both;
    margin: 0 auto;
    padding: 4em;
}

#octopus-image {
    float: right;
    transform: scaleX(-1);
    height: 20%;
    width: 20%;
}

.developer-quote {
    display: block;
    background-image: linear-gradient(black, #084C61, black);
    margin: 0;
    padding: 5em;
}

.developer-quote h2 {
    margin: 0;
}

.developer-quote p {
    margin: 10px;
}

footer {
    background-image: url('images/spaceImage.jpg');
}

#space-car-image {
    display: inline;
    float: left;
    padding-left: 5em;
    height: 20%;
    width: 20%;
}

.credits {
    display: table;
    margin: 0 auto;
    padding: 1em 0 1em 0;
}

li::before {
    content: "\2022";
    color: #177E89;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

li {
    list-style-type: none;
    font-size: 1.5em;
}

@media only screen and (max-width: 767px) {
    header {
        padding: 2em;
    }

    article {
        display: block;
    }

    .features {
        padding: 2em;
    }

    .developer-quote {
        padding: 2em;
    }

    #introduction-image {
        display: flex;
        align-content: center;
        margin: 0 auto;
        padding: 2em 0 2em 0;
        height: 60%;
        width: 60%;
    }

    #octopus-image, #space-car-image {
        float: none;
        display: flex;
        align-content: center;
        margin: 0 auto;
        width: 40%;
        height: 40%;
        padding: 0;
    }

    .credits {
        padding: 1em;
    }
}
